/*font-family: 'Lato', sans-serif;*/

.container {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    text-align:left;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: aqua
}

h1 span {
    visibility: hidden;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    color: ;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: ;
    text-decoration: none;
}

footer {
    background-color: #2a0157;
    color:#ffffff;
    letter-spacing: 1px;
    font-weight: 300;
}